.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top40-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product{
  flex: 20%;
}

.top40-banner{
  max-width:80%;
  object-fit: scale-down;
  display:block;
  margin:auto;
}

.home-container{
  width: 80%;
  max-width: 90rem;
  margin: auto;
  padding: 0;
  text-align: center;
  position: relative;
}

.main-top40{
  box-sizing: border-box;
}

.main-top40 img{
  width: 100%;
  height: auto;
}

.top40-brands-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top40-brand{
  display: flex;
  flex: 25%;
  justify-content: center;
  align-content: center;
  opacity: .8;
}

.top40-brand:hover{
  opacity: 1;
  cursor: pointer;
}

.top40-brands-container img{
  max-width: 100%;
  height: auto;
  display: inline-block;
  border: 0;
}

@media (max-width: 797px){
  .top40-brand{
    flex: 33%;
  }
}

@media (max-width: 575px){
  .top40-brand{
    flex: 50%;
  }
}

@media (max-width: 350px){
  .top40-brand{
    flex: 100%;
  }
}
